beautifulsoup4
certifi
charset-normalizer
gitdb
GitPython
idna
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
scikit-learn
scipy
setuptools
six
smmap
soupsieve
threadpoolctl
typing_extensions
tzdata
urllib3
xhtml2pdf 
